@model Session
@{
    ViewData["Title"] = "Details";
    var header = "";
    var btnSubment = "";

    if (Model.Id == 0)
    {
        header = "Create Session";
        btnSubment = "Add";
    }
    else
    {
        header = "Session Details";
        btnSubment = "Update";
    }

}
<div class="row mb-3 me-0">
    <div class="col-1">
        <a class="btn btn-info" asp-action="index"><i class="fas fa-chevron-left"></i></a>
    </div>
    <button onclick="saveChanges()" type="button" class="btn btn-info col-1 offset-10">
        @btnSubment
    </button>
</div>
<div class="card shadow">
    <div class="card-header">
        <div class="row p-1">
            <p class="text-primary m-0 fw-bold col-3">@header</p>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12  mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <input asp-for="Id" hidden class="form-control" type="text">
                            <input asp-for="UserId" hidden class="form-control" type="text">
                            <div class="form-group col-3">
                                <label for="Date" class="control-label">Date</label>
                                <input asp-for="Date" type="datetime-local" class="form-control" />
                                <span id="ErrorDate" class="text-danger"></span>
                            </div>
                            <div class="form-group col-3">
                                <label for="DoctorId">Doctor</label>
                                <select asp-for="DoctorId" asp-items="@ViewBag.selectListItemsOfDoctors" class="form-select"></select>
                            </div>
                            <div class="form-group col-3">
                                <label for="DoctorId">Patient</label>
                                <select asp-for="PatientId" asp-items="@ViewBag.selectListItemsOfPatients" class="form-select"></select>
                            </div>
                            <div class="form-group col-3">
                                <label for="DoctorId">Booking</label>
                                <select asp-for="BookingId" asp-items="@ViewBag.selectListItemsOfBookings" class="form-select">
                                    <option selected value="0">No Booking</option>
                                </select>
                            </div>
                            <div class="form-group col-3  mt-2">
                                <label for="Price" class="control-label">Price</label>
                                <input asp-for="Price" type="number" class="form-control" />
                                <span id="ErrorPrice" class="text-danger"></span>
                            </div>
                            <div class="form-group col-9 mb-2 mt-2">
                                <label for="Note">Note</label>
                                <textarea asp-for="Note" rows="4" class="form-control"></textarea>
                                <span id="ErrorNote" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 offset-10 d-flex justify-content-end">
                                <button type="button" class="btn btn-outline-info mr-2" onclick="ShowSessionMaterialForm()">Add Material</button>
                                <div class="modal fade" id="materialForm" tabindex="-1" aria-labelledby="materialFormLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-xl">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="materialFormLabel">Add Material</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="form-group col-3">
                                                        <label for="MaterialId">Material</label>
                                                        <select id="MaterialId" asp-items="@ViewBag.selectListItemsOfMaterials" class="form-select"></select>
                                                    </div>
                                                    <div class="form-group col-3">
                                                        <label for="NumberOfPieces">Number Of Pieces</label>
                                                        <input id="NumberOfPieces" min="1" onkeyup="ChangeNumberOfPieces()" class="form-control" type="number" />
                                                        <span id="ErrorNumberOfPieces" class="text-danger"></span>
                                                    </div>
                                                    @*<div class="form-group col-3">
                                                        <label for="PricePerPiece">Price Per Piece</label>
                                                        <input id="PricePerPiece" disabled class="form-control" type="number" />
                                                    </div>
                                                    <div class="form-group col-3">
                                                        <label for="TotalPrice">Total Price</label>
                                                        <input id="TotalPrice" disabled class="form-control" type="number" />
                                                    </div>*@
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" onclick="CreateMaterial()" class="btn btn-outline-info">Create</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-12">
                                <table class="table" id="sessionMaterial" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Number Of Pieces</th>
                                            @*<th scope="col">Price Per Piece</th>
                                            <th scope="col">Total Price</th>*@
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.SessionMaterials)
                                        {
                                            @*var totalPrice = item.Price * item.NumberOfPieces;*@
                                            <tr>
                                                <td>@item.Material.Name</td>
                                                <td>@item.NumberOfPieces</td>
                                                @*<td>@item.Price</td>
                                                <td>@totalPrice</td>*@
                                                <td>
                                                    <div class="text-center">
                                                        <button class='btn btn-danger text-white btn-circle mx-1'
                                                                onclick='RemoveRow(this)'>
                                                            <i class="fa-solid fa-x"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                                <td hidden>@item.MaterialId</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/sessionCreateEdit.js" asp-append-version="true"></script>
}
